<div class="ss_admin_nav">

    <ul class="p-0 ss_ul">
        <li class="px-3 py-2 ss_list ss_dashboard">
            <i class="fas fa-tachometer-alt"></i>
            <label>Dashboard</label>
        </li>

        <li class="px-3 py-2 ss_list">
            <i class="fas fa-home"></i>
            <label>Home</label>
        </li>

        <li class="ps-3 py-2 ss_list">
            <i class="fas fa-sticky-note"></i>
            <label class="ss_label">All content</label>
        </li>

        <li class="px-3 py-2 ss_list">
            <i class="fas fa-plus"></i>
            <label>Add new</label>
        </li>

        <li class="px-3 py-2 ss_list ss_category">
            <i class="fas fa-tags"></i>
            <label>Category</label>
        </li>

        <li class="px-3 ss_list py-2">
            <i class="fas fa-inbox"></i>
            <label >Inbox</label>
        </li>

        <li class="px-3 py-2 ss_list ss_media">
            <i class="fas fa-photo-video"></i>
            <label>Media</label>
        </li>

        <li class="px-3 py-2 ss_list">
            <i class="fas fa-user-cog"></i>
            <label>User</label>
        </li>

        <li class="px-3 py-2 ss_list ss_new_user">
            <i class="fas fa-user-plus"></i>
            <label>New user</label>
        </li>

        <li class="px-3 py-2 ss_list ss_settings">
            <i class="fas fa-cogs"></i>
            <label>Settings</label>
        </li>

        <li class="px-3 py-2 ss_list">
            <i class="fas fa-sign-out-alt"></i>
            <label>Log out</label>
        </li>
    </ul>


</div>