<div class="ss_admin_nav" id="ss_admin_nav">

    <button onclick="myFunction()" id="btn_nav" class="ss_btn_nav"><i class="fas fa-chevron-left ss_arrow" id="arrow"></i></button>

    <ul class="p-0 ss_ul">
        <li class="px-3 py-2 ss_list ss_dashboard d-flex align-items-center">
            <i class="fas fa-tachometer-alt ss_icon_nav"></i>
            <label class="ss_label">Dashboard</label>
        </li>

        <!-- <li class="px-3 py-2 ss_list d-flex align-items-center">
            <i class="fas fa-home ss_icon_nav"></i>
            <label class="ss_label" id="s">Home</label>
        </li> -->

        <li class="ps-3 py-2 ss_list d-flex align-items-center">
            <i class="fas fa-sticky-note ss_icon_nav"></i>
            <label class="ss_label">All content</label>
        </li>

        <li class="px-3 py-2 ss_list d-flex align-items-center">
            <i class="fas fa-plus ss_icon_nav"></i>
            <label class="ss_label">Add new</label>
        </li>

        <li class="px-3 py-2 ss_list ss_category d-flex align-items-center">
            <i class="fas fa-tags ss_icon_nav"></i>
            <label class="ss_label">Category</label>
        </li>

        <!-- <li class="px-3 ss_list py-2 d-flex align-items-center">
            <i class="fas fa-inbox ss_icon_nav"></i>
            <label class="ss_label">Inbox</label>
        </li>

        <li class="px-3 py-2 ss_list ss_media d-flex align-items-center">
            <i class="fas fa-photo-video ss_icon_nav"></i>
            <label class="ss_label">Media</label>
        </li> -->

        <li class="px-3 py-2 ss_list d-flex align-items-center">
            <i class="fas fa-user-cog ss_icon_nav"></i>
            <label class="ss_label">User</label>
        </li>

        <li class="px-3 py-2 ss_list ss_new_user d-flex align-items-center">
            <i class="fas fa-user-plus ss_icon_nav"></i>
            <label class="ss_label">New user</label>
        </li>

        <li class="px-3 py-2 ss_list ss_settings d-flex align-items-center">
            <i class="fas fa-cogs ss_icon_nav"></i>
            <label class="ss_label">Settings</label>
        </li>

        <li class="px-3 py-2 ss_list d-flex align-items-center">
            <i class="fas fa-sign-out-alt ss_icon_nav"></i>
            <label class="ss_label">Log out</label>
        </li>
    </ul>


</div>