

<div class="row">

    <div class="col-lg-5 order-2 order-lg-1 mb-sm-3">

        <div class="ss_img_content_holder ">
            <img src="/img/sk.jpg" alt="">
        </div>

    </div>

    <div class="col-lg-7  order-lg-2 mb-sm-4">

        <h3 class="fs-4 ss_content_header">What is CPU and GPU and whay is important for gaming</h3>

        <div class="d-flex align-items-center">
            <div class="ss_img_author_holder">
                <img src="/img/su.jpg" alt="">
            </div>
            <p class="mb-0 ms-2">Semir Selman 08/01/2022</p>
        </div>

    </div>

</div>
