<div class="row mt-5 justify-content-between  px-1">

    <div class="col-lg-3 col-md-5 col-sm-6 p-0">
  
      <input type="text" class="form-control ss_input ss_search_content" id="content_search" placeholder="Author or category..." >
  
    </div>
  
    <div class="col-lg-5 p-0 ">
  
      <div class=" ss_navbar_search" id="navbarNav">
  
        <ul class=" ss_nav_all_content justify-content-between">

          <% for(let i = 0; i < filter.length; i++) { %>

              <li class="nav-item <%=filter_class_name%>" data-id="<%= filter[i].id %>">
                <%= filter[i].name %>
              </li>

          <% } %>
          
        </ul>
  
      </div>
      
    </div>
  
  
  </div>