<div class="container-fluid p-0">

    <div class="row m-0">

        <div class="col-12 p-0">
            <div class="ss_footer_holder d-flex">

                <div class="ss_footer_info">
                    <h3 class="">Contact Us</h3>
                    <div class="ss_info">
                        <p>E-mail: niko@gmail.com</p>
                        <p>br. 000-000-000</p>
                    </div>

                </div>

                <div class="ss_footer_info">
                    <h3 class="">Follow Us</h3>
                    <div class="ss_info">
                        <div class="d-flex align-items-center">
                            <i class="me-3 fab fa-facebook-square"></i>
                            <p class="m-0">Facebook</p>
                        </div>

                        <div class="d-flex align-items-center">
                            <i class="me-3 fab fa-instagram-square"></i>
                            <p class="m-0">Instagram</p>
                        </div>

                        <div class="d-flex align-items-center">
                            <i class="me-3 fab fa-twitter-square"></i>
                            <p class="m-0">Twitter</p>
                        </div>
                        
                    </div>

                </div>

                <div class="ss_footer_info">

                    <h3 class="">Quick nav</h3>
                    <div class="ss_info">
                        <p class="mb-1">Hardwar</p>
                        <p class="mb-1">Softwar</p>
                        <p class="mb-1">Network</p>
                        <p class="mb-1">Code</p>
                        <p class="mb-1">Other</p>
                        <About class="mb-1">About Us</p>
                    </div>

                </div>

            </div>
        </div>

    </div>

</div>