<div class="modal fade " id="editModalUsers" tabindex="-1">
    <div class="modal-dialog ss_modal_content_edit_users ">
      <div class="modal-content ">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edit User</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

            <div class="d-flex ss_main_info_user">

                <div class="ss_inputs_modal ">

                    <input type="text" id="input_user_name" class="form-control">
                    <input type="text" id="input_user_email" class="form-control">
                    <input type="text" id="input_user_num" class="form-control">
                    <input type="text" id="input_user_role" class="form-control">
        
                </div>

            </div>

            <div class="ss_password_info">

                <label for="">New Password</label>

                <div class="d-flex ss_password_div">

                    <input type="text" class="form-control" >
                    <button>Generate</button>

                </div>

            </div>


            <div class="ss_social_edit_user">

                <div class="d-flex">
                    <span><i class="fab fa-facebook-square"></i></span>
                    <input type="text" id="input_user_facebook" class="form-control" >
                </div>
    
                <div class="d-flex">
                    <span><i class="fab fa-twitter-square"></i></span>
                    <input type="text" id="input_user_twitter" class="form-control" >
                </div>
    
                <div class="d-flex">
                    <span><i class="fab fa-instagram-square"></i></span>
                    <input type="text" id="input_user_instagram" class="form-control" >
                </div>

            </div>
            
        </div>


        <div class="modal-footer justify-content-start ss_modal_footer">

          <button type="button" class="btn btn-primary ss_button">Send</button>
          <button type="button" class="btn btn-primary ss_button">Trashe</button>

        </div>
      </div>
    </div>
  </div>