

<div class="row">

    <div class="col-12">

        <div class="ss_searcghingbar_holder">

            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 100%"></div>
            </div>

        </div>

    </div>

</div>