<div class="col-2">
    <h3 class="ss_author_choice_header">Author choice</h3>
    <div class="line"></div>

    <div class="ss_side_content_holder mt-4">
        <div class="ss_side_img_holder">
            <img src="/img/ss.jpg" alt="">
        </div>
        <p>What is this color?</p>
    </div>

    <div class="ss_side_content_holder mt-4">
        <div class="ss_side_img_holder">
            <img src="/img/sa.jpg" alt="">
        </div>
        <p>What is this color?</p>
    </div>

    <div class="ss_side_content_holder mt-4">
        <div class="ss_side_img_holder">
            <img src="/img/sb.jpg" alt="">
        </div>
        <p>What is this color?</p>
    </div>

</div>

<div class="col-1"></div>