<div class="row">

    <div class="col-12">

        <div class="ss_top_info d-flex align-items-center justify-content-between">

            <h2 class=""><%= header_name %></h2>
    
            <div class="ss_author_info"> 
                <label class="ss_author_name">Niko Nikic</label>
                <i class="fas fa-bell ms-3"></i>
            </div>
    
        </div>
    
        <div class="ss_line"></div>

    </div>

</div>