

<div class="row px-lg-3 mt-lg-4">

    <div class="col-lg-9 order-2 order-lg-1 ">
        <input class="ss_input ss_input_category_name" type="text">

        <div class="ss_link d-sm-flex">

            <p>https://www.siteName.com/content/some-header</p>
            <button>Edit</button>

        </div>

        <div class="ss_txt_area">
            <textarea id="txt_area" cols="30" rows="20"></textarea>
        </div>
    </div>

    <div class="col-lg-3 order-1 order-lg-2 mb-3 mb-lg-0 ss_right_block_holder ">

        <button class="ss_btn_right_block" id="btn_right_block" type="button" >
            <span ><i class="fas fa-cog"></i></span>
        </button>

        <div class="ss_right_block">
    
            <div class="ss_inputs_block">
    
                <p>Publish</p>
                <div class="ss_line"></div>
    
                <div class="input-group mb-3">
                    <input type="text" class="form-control ss_input" aria-label="Text input with dropdown button">
                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"></button>
                    <ul class="dropdown-menu dropdown-menu-end">
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="#">Separated link</a></li>
                    </ul>
                </div>
    
            </div>
    
            <div class="ss_inputs_block">
    
                <p>Post</p>
                <div class="ss_line"></div>
    
                <div class="input-group mb-3">
                    <input type="text" class="form-control ss_input" aria-label="Text input with dropdown button">
                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"></button>
                    <ul class="dropdown-menu dropdown-menu-end">
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="#">Separated link</a></li>
                    </ul>
                </div>
    
            </div>
    
    
            <div class="ss_inputs_block">
    
                <p>Category</p>
                <div class="ss_line"></div>
    
                <div class="input-group mb-3">
                    <input type="text" class="form-control ss_input" aria-label="Text input with dropdown button">
                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"></button>
                    <ul class="dropdown-menu dropdown-menu-end">
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="#">Separated link</a></li>
                    </ul>
                </div>
    
            </div>
    
            <div class="ss_permissions_block">
    
                <p>Permissions</p>
                <div class="ss_line mb-3"></div>
    
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        SuperAdmin
                    </label>
                </div>
    
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Admin
                    </label>
                </div>
    
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                      Editor
                    </label>
                </div>
    
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                      Author
                    </label>
                </div>
    
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Contributor
                    </label>
                </div>
    
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Supporter
                    </label>
                </div>
    
            </div>

            <div class="ss_button_post">

                <button>Post</button>
                <button>Preview</button>

            </div>
    
        </div>

    </div>

</div>

