
<%-include('partials/top_header_admin.ejs') %>

<div class="row">

    <div class="col-3"></div>

    <div class="col-6">

        <h2 class="ss_welcome_name">Welcome Niko Nikic</h2>

    </div>

    <div class="col-3"></div>

</div>