
<div class="container ps-5 ps-sm-4">

    <%-include('partials/top_header_admin.ejs') %>

    <%- include('partials/filter_nav_admin.ejs') %>

    <%- include('partials/popup_edit_users.ejs') %>

    <div class="row ss_row_users ps-0" id="row_users">

        <%- include('partials/user_card.ejs') %>
        
    </div>

</div>