<%-include('partials/top_header_admin.ejs') %>
<div class="row mt-5">

    <div class="col-md-1 col-sm-12"></div>

    <div class="col-md-3 col-sm-7 col-9">

       
         <input type="text" class="form-control ss_input" id="input_search_users" placeholder="Name or role.sasa.." >
         
    </div>

    <div class="col-md-7 col-sm-12 col-3">

        <button class="ss_button_drop_down"><i class="fas fa-chevron-down"></i></button>

        <ul class="ss_list_all_users">
            <li class="ss_list_users" id="confirmed_user">Confirmed</li>
            <li class="ss_list_users" id="not_confirmed_user">Not confirmed</li>
            <li class="ss_list_users" id="trashed_user">Trashed</li>
        </ul>

    </div>

    <div class="col-md-1 col-sm-12"></div>

</div>

<%- include('partials/popup_edit_users.ejs') %>

<div class="row ss_row_users" id="row_users">

    <%- include('partials/user_card.ejs') %>
    
</div>