<div class="row mt-5">

    <div class="col-lg-1 col-md-0"></div>

    <div class="col-lg-6 col-md-7 col-sm-9">

        <nav class="navbar navbar-expand-lg navbar-light bg-light ss_navbar_search_con">
          <div class="container-fluid ss_bg_con">

            

            <div class="input-group mb-3 d-sm-block d-lg-none ss_input_navbar_input align-items-center">
              <button class="navbar-toggler ss_button_nav_all_category" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-chevron-down"></i>
              </button>
              
              <input type="text" class="form-control ss_input ss_input_search" id="search_input" placeholder="Author or category..." >
              <label for="search_input" id="label_search"><i class="fas fa-search"></i></label>
            </div>

       

            <div class="collapse navbar-collapse ss_navbar_search" id="navbarNav">

              <ul class="navbar-nav ss_nav_all_content justify-content-between">

                <li class="nav-item">
                  <a class="nav-link ss_nav_a " aria-current="page" >Published</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link ss_nav_a" >Drafts</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link ss_nav_a" >Scheduled</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link ss_nav_a">Trashed</a>
                </li>
                
              </ul>

            </div>
            
          </div>

        </nav>

    </div>

    <div class="col-lg-1 col-md-1"></div>

    <div class="col-lg-3 col-md-4">

        
        <input type="text" class="form-control ss_input ss_search_content" placeholder="Author or category..." >
         

    </div>

    <div class="col-lg-1 col-md-0"></div>

</div>

<div class="row mt-5 ss_row_content">

  <div class="col-lg-5 p-0 ss_col_img">

      <div class="ss_img_holder">
        <img src="/img/si.jpg" alt="">
      </div>

  </div>

  <div class="col-lg-7 p-0 ps-2">

    <div class="d-flex ss_header_content justify-content-between">

      <h2>Lorem ipsum dolor sit </h2>

      <div class="dropdown">

        <span id="dropdownMenuButton1" data-bs-toggle="dropdown"><i class="fas fa-ellipsis-h"></i></span>

        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" >Edit</a></li>
          <li><a class="dropdown-item" >Trash</a></li>
          <li><a class="dropdown-item" >Veiw post</a></li>
          <li><a class="dropdown-item" >Copy link</a></li>
        </ul>
      </div>

    </div>

    <div class="d-flex">

      <div class="ss_img_holder ss_img_author_holder">
        <img src="/img/si.jpg" alt="">
      </div>

      <p>Lorem ipsum dolor sit amet.</p>

    </div>

  </div>

    

</div>

<div class="row mt-5 ss_row_content">

  <div class="col-lg-5 p-0 ss_col_img">

      <div class="ss_img_holder">
        <img src="/img/si.jpg" alt="">
      </div>

  </div>

  <div class="col-lg-7 p-0 ps-2">

    <div class="d-flex ss_header_content justify-content-between">

      <h2>Lorem ipsum dolor sit </h2>

      <div class="dropdown">

        <span id="dropdownMenuButton1" data-bs-toggle="dropdown"><i class="fas fa-ellipsis-h"></i></span>

        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" >Edit</a></li>
          <li><a class="dropdown-item" >Trash</a></li>
          <li><a class="dropdown-item" >Veiw post</a></li>
          <li><a class="dropdown-item" >Copy link</a></li>
        </ul>
      </div>

    </div>

    <div class="d-flex">

      <div class="ss_img_holder ss_img_author_holder">
        <img src="/img/si.jpg" alt="">
      </div>

      <p>Lorem ipsum dolor sit amet.</p>

    </div>

  </div>

    

</div>


