
<%-include('partials/top_header_admin.ejs') %>

<div class="row mt-5 ">

    <%- include('partials/popup_delete.ejs') %>
    <%- include('partials/popup_edit.ejs') %>

    <div class="col-lg-3 col-md-2 col-sm-12 "></div>
    <div class="col-lg-6 col-md-8 col-sm-12 ">

        <div class="input-group mb-3 ss_input_group_search"> 

            <label class="input-group-text ss_label_search" for="search"  id="basic-addon1"><i class="fas fa-search"></i></label>
            <input type="text" class="form-control" id="search" placeholder="Search">

        </div>

        <div class="input-group ss_input_group_list">
            <input type="text" class="form-control" value="Hardwar" aria-label="Text input with segmented dropdown button">
            <button type="button" class="btn btn-outline-secondary ss_num"><span>7</span></button>
            <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split ss_drop_down" data-bs-toggle="dropdown" aria-expanded="false">
              <span class="visually-hidden">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu dropdown-menu-end">
              <li><a class="dropdown-item" data-bs-target="#editModal" data-bs-toggle="modal">Edit</a></li>
              <li><a class="dropdown-item" data-bs-target="#deleteModal" data-bs-toggle="modal">Delete</a></li>
              <li><a class="dropdown-item" href="#">View posts</a></li>
        
            </ul>
        </div>
    </div>

    <div class="col-lg-3 col-md-2 col-sm-12 "></div>


</div>

