<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/all_contents.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/content.css">
    <title>Tech portal</title>
  </head>
  <body>
    <%- include('partials/home_nav.ejs')%>

    <div class="container mt-4">

        <div class="row">

            <div class="col-1"></div>

            <div class="col-10">

                <div class="ss_top_info">

                    <h1 class="fs-2">Lorem ipsum dolor sit amet.</h1>

                    <div class="d-flex">

                        <div class="ss_img_author_holder me-3">
                            <img src="/img/sa.jpg" alt="">
                        </div>
                        <p>Lorem, ipsum dolor.</p>

                    </div>

                    <div class="ss_img_main_holder">
                        <img src="/img/sa.jpg" alt="">
                    </div>

                </div>

            </div>

            <div class="col-1"></div>

        </div>


        <div class="row mt-5 mb-5">

            <div class="col-1"></div>

            <div class="col-8 ss_content_text">

                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Sit ducimus, ullam eveniet distinctio laborum illo doloribus error ea,
                rem ipsam et quisquam quis harum maxime nostrum, rerum illum? Nam,
                accusantium maxime sunt cumque corporis autem fuga. Vel, fugiat asperiores
                culpa ab eum repellendus commodi iusto magni accusantium! Molestiae, deserunt quisquam.
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Sit ducimus, ullam eveniet distinctio laborum illo doloribus error ea,
                rem ipsam et quisquam quis harum maxime nostrum, rerum illum? Nam,
                accusantium maxime sunt cumque corporis autem fuga. Vel, fugiat asperiores
                culpa ab eum repellendus commodi iusto magni accusantium! Molestiae, deserunt quisquam.
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Sit ducimus, ullam eveniet distinctio laborum illo doloribus error ea,
                rem ipsam et quisquam quis harum maxime nostrum, rerum illum? Nam,
                accusantium maxime sunt cumque corporis autem fuga. Vel, fugiat asperiores
                culpa ab eum repellendus commodi iusto magni accusantium! Molestiae, deserunt quisquam.
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Sit ducimus, ullam eveniet distinctio laborum illo doloribus error ea,
                rem ipsam et quisquam quis harum maxime nostrum, rerum illum? Nam,
                accusantium maxime sunt cumque corporis autem fuga. Vel, fugiat asperiores
                culpa ab eum repellendus commodi iusto magni accusantium! Molestiae, deserunt quisquam.
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Sit ducimus, ullam eveniet distinctio laborum illo doloribus error ea,
                rem ipsam et quisquam quis harum maxime nostrum, rerum illum? Nam,
                accusantium maxime sunt cumque corporis autem fuga. Vel, fugiat asperiores
                culpa ab eum repellendus commodi iusto magni accusantium! Molestiae, deserunt quisquam.
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Sit ducimus, ullam eveniet distinctio laborum illo doloribus error ea,
                rem ipsam et quisquam quis harum maxime nostrum, rerum illum? Nam,
                accusantium maxime sunt cumque corporis autem fuga. Vel, fugiat asperiores
                culpa ab eum repellendus commodi iusto magni accusantium! Molestiae, deserunt quisquam.
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Sit ducimus, ullam eveniet distinctio laborum illo doloribus error ea,
                rem ipsam et quisquam quis harum maxime nostrum, rerum illum? Nam,
                accusantium maxime sunt cumque corporis autem fuga. Vel, fugiat asperiores
                culpa ab eum repellendus commodi iusto magni accusantium! Molestiae, deserunt quisquam.
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Sit ducimus, ullam eveniet distinctio laborum illo doloribus error ea,
                rem ipsam et quisquam quis harum maxime nostrum, rerum illum? Nam,
                accusantium maxime sunt cumque corporis autem fuga. Vel, fugiat asperiores
                culpa ab eum repellendus commodi iusto magni accusantium! Molestiae, deserunt quisquam.
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Sit ducimus, ullam eveniet distinctio laborum illo doloribus error ea,
                rem ipsam et quisquam quis harum maxime nostrum, rerum illum? Nam,
                accusantium maxime sunt cumque corporis autem fuga. Vel, fugiat asperiores
                culpa ab eum repellendus commodi iusto magni accusantium! Molestiae, deserunt quisquam.
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Sit ducimus, ullam eveniet distinctio laborum illo doloribus error ea,
                rem ipsam et quisquam quis harum maxime nostrum, rerum illum? Nam,
                accusantium maxime sunt cumque corporis autem fuga. Vel, fugiat asperiores
                culpa ab eum repellendus commodi iusto magni accusantium! Molestiae, deserunt quisquam.
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Sit ducimus, ullam eveniet distinctio laborum illo doloribus error ea,
                rem ipsam et quisquam quis harum maxime nostrum, rerum illum? Nam,
                accusantium maxime sunt cumque corporis autem fuga. Vel, fugiat asperiores
                culpa ab eum repellendus commodi iusto magni accusantium! Molestiae, deserunt quisquam.
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Sit ducimus, ullam eveniet distinctio laborum illo doloribus error ea,
                rem ipsam et quisquam quis harum maxime nostrum, rerum illum? Nam,
                accusantium maxime sunt cumque corporis autem fuga. Vel, fugiat asperiores
                culpa ab eum repellendus commodi iusto magni accusantium! Molestiae, deserunt quisquam.

                <div class="ss_test_img_holder">
                    <img src="/img/si.jpg" alt="">
                </div>

                <h2>Lorem ipsum dolor sit amet.</h2>

                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Sit ducimus, ullam eveniet distinctio laborum illo doloribus error ea,
                rem ipsam et quisquam quis harum maxime nostrum, rerum illum? Nam,
                accusantium maxime sunt cumque corporis autem fuga. Vel, fugiat asperiores
                culpa ab eum repellendus commodi iusto magni accusantium! Molestiae, deserunt quisquam.
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Sit ducimus, ullam eveniet distinctio laborum illo doloribus error ea,
                rem ipsam et quisquam quis harum maxime nostrum, rerum illum? Nam,
                accusantium maxime sunt cumque corporis autem fuga. Vel, fugiat asperiores
                culpa ab eum repellendus commodi iusto magni accusantium! Molestiae, deserunt quisquam.
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Sit ducimus, ullam eveniet distinctio laborum illo doloribus error ea,
                rem ipsam et quisquam quis harum maxime nostrum, rerum illum? Nam,
                accusantium maxime sunt cumque corporis autem fuga. Vel, fugiat asperiores
                culpa ab eum repellendus commodi iusto magni accusantium! Molestiae, deserunt quisquam.
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Sit ducimus, ullam eveniet distinctio laborum illo doloribus error ea,
                rem ipsam et quisquam quis harum maxime nostrum, rerum illum? Nam,
                accusantium maxime sunt cumque corporis autem fuga. Vel, fugiat asperiores
                culpa ab eum repellendus commodi iusto magni accusantium! Molestiae, deserunt quisquam.
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Sit ducimus, ullam eveniet distinctio laborum illo doloribus error ea,
                rem ipsam et quisquam quis harum maxime nostrum, rerum illum? Nam,
                accusantium maxime sunt cumque corporis autem fuga. Vel, fugiat asperiores
                culpa ab eum repellendus commodi iusto magni accusantium! Molestiae, deserunt quisquam.
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Sit ducimus, ullam eveniet distinctio laborum illo doloribus error ea,
                rem ipsam et quisquam quis harum maxime nostrum, rerum illum? Nam,
                accusantium maxime sunt cumque corporis autem fuga. Vel, fugiat asperiores
                culpa ab eum repellendus commodi iusto magni accusantium! Molestiae, deserunt quisquam.
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Sit ducimus, ullam eveniet distinctio laborum illo doloribus error ea,
                rem ipsam et quisquam quis harum maxime nostrum, rerum illum? Nam,
                accusantium maxime sunt cumque corporis autem fuga. Vel, fugiat asperiores
                culpa ab eum repellendus commodi iusto magni accusantium! Molestiae, deserunt quisquam.
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Sit ducimus, ullam eveniet distinctio laborum illo doloribus error ea,
                rem ipsam et quisquam quis harum maxime nostrum, rerum illum? Nam,
                accusantium maxime sunt cumque corporis autem fuga. Vel, fugiat asperiores
                culpa ab eum repellendus commodi iusto magni accusantium! Molestiae, deserunt quisquam.
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Sit ducimus, ullam eveniet distinctio laborum illo doloribus error ea,
                rem ipsam et quisquam quis harum maxime nostrum, rerum illum? Nam,
                accusantium maxime sunt cumque corporis autem fuga. Vel, fugiat asperiores
                culpa ab eum repellendus commodi iusto magni accusantium! Molestiae, deserunt quisquam.
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Sit ducimus, ullam eveniet distinctio laborum illo doloribus error ea,
                rem ipsam et quisquam quis harum maxime nostrum, rerum illum? Nam,
                accusantium maxime sunt cumque corporis autem fuga. Vel, fugiat asperiores
                culpa ab eum repellendus commodi iusto magni accusantium! Molestiae, deserunt quisquam.
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Sit ducimus, ullam eveniet distinctio laborum illo doloribus error ea,
                rem ipsam et quisquam quis harum maxime nostrum, rerum illum? Nam,
                accusantium maxime sunt cumque corporis autem fuga. Vel, fugiat asperiores
                culpa ab eum repellendus commodi iusto magni accusantium! Molestiae, deserunt quisquam.
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Sit ducimus, ullam eveniet distinctio laborum illo doloribus error ea,
                rem ipsam et quisquam quis harum maxime nostrum, rerum illum? Nam,
                accusantium maxime sunt cumque corporis autem fuga. Vel, fugiat asperiores
                culpa ab eum repellendus commodi iusto magni accusantium! Molestiae, deserunt quisquam.

            </div>

            <%- include('partials/side_content.ejs')%>

        </div>

        <div class="row">

            <div class="col-1"></div>

            <div class="col-10 p-0">
                <div class="line mb-5"></div>
            </div>

            <div class="col-1"></div>

        </div>

        <%-include('partials/pagination.ejs')%>
    </div>

    <%-include('partials/footer.ejs')%>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  </body>
</html>