<%-include('partials/top_header_admin.ejs') %>

<div class="row">

    <div class="col-9 mt-5">

        <nav class="navbar navbar-expand-lg navbar-light bg-light ss_navbar_search_con">
            <div class="container-fluid ss_bg_con">
  
  
              <div class="input-group mb-3 d-sm-block d-lg-none  align-items-center">
                <button class="navbar-toggler ss_button_nav_all_category" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <i class="fas fa-chevron-down"></i>
                </button>
              </div>
  
         
  
              <div class="collapse navbar-collapse ss_navbar_search" id="navbarNav">
  
                <ul class="navbar-nav ss_nav_all_content justify-content-between">
  
                  <li class="nav-item">
                    <a class="nav-link ss_nav_a " aria-current="page" >Published</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link ss_nav_a" >Drafts</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link ss_nav_a" >Scheduled</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link ss_nav_a">Trashed</a>
                  </li>
                  
                </ul>
  
              </div>
              
            </div>
  
        </nav>

    </div>

</div>

<div class="row ms-3">

    <!-- Card for file -->

    <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6 mt-3">

        <div class="ss_content_holder">
            
            <div class="ss_icon_holder">
                <i class="fas fa-sticky-note"></i>
            </div>

            <p>Lorem ipsum dolor sit amet.</p>

         
        </div>

    </div>

    <!-- Card for audio -->

    <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6 mt-3">

        <div class="ss_content_holder">

            <div class="ss_icon_holder">
                <i class="fas fa-microphone-alt"></i>
            </div>

            <p>Lorem ipsum dolor sit amet.</p>
        </div>

    </div>

    <!-- Card for video  -->

    <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6 mt-3">

        <div class="ss_content_holder">

            <div class="ss_icon_holder">
                <i class="fas fa-video"></i>
            </div>

            <p>Lorem ipsum dolor sit amet.</p>
        </div>

    </div>

    <!-- img -->

    <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6 mt-3">

        <div class="ss_content_holder">

            <div class="ss_img_holder">
                <img src="/img/ss.jpg" alt="">
            </div>

        </div>

    </div>

    <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6 mt-3">

        <div class="ss_content_holder">

            <div class="ss_img_holder">
                <img src="/img/ss.jpg" alt="">
            </div>

        </div>

    </div>

    <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6 mt-3">

        <div class="ss_content_holder">

            <div class="ss_img_holder">
                <img src="/img/ss.jpg" alt="">
            </div>

        </div>

    </div>

    <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6 mt-3">

        <div class="ss_content_holder">

            <div class="ss_img_holder">
                <img src="/img/ss.jpg" alt="">
            </div>

        </div>

    </div>

</div>