

<div class="container ps-5 ps-sm-4">

    <%-include('partials/top_header_admin.ejs') %>
    <div class="row" id="row_add_user">

        <div class="col-xl-6 col-lg-7 col-md-9 col-sm-10 ss_card_edit_user">

            <h2>Add User</h2>

            <div class="d-flex ss_main_info_new_user">

                <div class="ss_inputs_new_user">

                    <label for="add_user_name">Name</label>
                    <input type="text" id="add_user_name" class="ss_input_add_new_user">
                    <label for="add_user_email">E-mail</label>
                    <input type="text" id="add_user_email" class="ss_input_add_new_user ">

                </div>

                <div class="ss_radio_new_users">

                    <div class="form-check">
                        <input class="form-check-input ss_check_add_user " type="checkbox" value="" name="ch" id="super_admin_check">
                        <label class="form-check-label" for="super_admin_check">
                            SuperAdmin
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input ss_check_add_user " type="checkbox" value="" name="ch" id="admin_check">
                        <label class="form-check-label" for="admin_check">
                            Admin
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input ss_check_add_user " type="checkbox" value="" name="ch" id="editor_check">
                        <label class="form-check-label" for="editor_check">
                        Editor
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input ss_check_add_user " type="checkbox" value="" name="ch" id="author_check">
                        <label class="form-check-label" for="author_check">
                        Author
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input ss_check_add_user " type="checkbox" value="" name="ch" id="contributor_check">
                        <label class="form-check-label" for="contributor_check">
                            Contributor
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input ss_check_add_user " type="checkbox" name="ch" value="" id="supporter_check">
                        <label class="form-check-label" for="supporter_check">
                            Supporter
                        </label>
                    </div>

                </div>

            </div>

            <div class="d-flex ss_buttons_new_user">

                <button id="send_mail">Send</button>

            </div>

        </div>

    </div>

</div>