
<%-include('partials/top_header_admin.ejs') %>
<div class="ss_container_settings">


    <h3>Site icon</h3>
    <div class="row mb-3">

        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-8 ss_img_settings">

            <div class="ss_img_holder">

                <img src="/img/ss.jpg" alt="">

            </div>

        </div>

        <div class="col-xl-10  col-lg-9 col-md-8">

            <div class="ss_settings_main_inputs">

                <div class="">

                    <label for="">Site title</label>
                    <input type="text">

                </div>

                <div class="">

                    <label for="">Site tagline</label>
                    <input type="text">

                </div>

            </div>

        </div>

    </div>



    <h3>Site logo</h3>
    <div class="row mb-3">

        <div class="col-xl-2 col-lg-3  col-md-4 col-sm-8 ss_img_settings">

            <div class="ss_img_holder">

                <img src="/img/sa.jpg" alt="">

            </div>

        </div>

        <div class="col-xl-10 col-lg-9 col-md-8">

            <div class="d-flex ss_content_page_settings">

                <div class="">
                    <label for="">Post per page</label>
                    <input type="text">
                </div>

                <div class="">
                    <label for="">Pagination count</label>
                    <input type="text">
                </div>

            </div>

        </div>

    </div>

    <button class="ss_settings_save_button">Save</button>


</div>