
<div class="row ms-3 mt-4">

    <div class="col-xl-3 col-lg-4 col-md-5 mb-3 ss_img_view">

        <div class="ss_img_holder">

            <img src="/img/niko.jpg" alt="">

        </div>

    </div>

    <div class="col-xl-1 col-lg-1 col-md-1"></div>

    <div class="col-xl-8 col-lg-7 col-md-6 ss_user_info_view">

        <div class="d-flex ss_social_container_view">

            <span><i class="fab fa-facebook-square"></i></span>
            <p>Lorem ipsum dolor sit amet.</p>
        </div>

        <div class="d-flex ss_social_container_view">
            <span><i class="fab fa-instagram-square"></i></span>
            <p>Lorem ipsum dolor sit amet.</p>
        </div>

        <div class="d-flex ss_social_container_view">
            <span><i class="fab fa-twitter-square"></i></span>
            <p>Lorem ipsum dolor sit amet.</p>
        </div>

    </div>

</div>

<div class="row ms-3 ">
    <div class="col-12">

        <p>niko@gmail.com</p>
        <p>000-000-000</p>

        <div class="ss_user_info_view">

            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris at interdum sapien.
            Donec sed dui quis nunc sagittis faucibus vel sit amet nisi. Pellentesque molestie mattis mauris,
            nec blandit enim tincidunt eget. Etiam eu urna fermentum, ultricies risus a,
            vulputate diam. Proin at magna sit amet eros lobortis varius. Aenean ac purus at neque 
            pharetra pellentesque vitae at lorem. Vestibulum ante ipsum primis in faucibus orci luctus 
            et ultrices posuere cubilia curae; In urna nisi, venenatis sed est eget, accumsan lacinia massa. 
            Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam luctus, 
            ipsum eget mattis placerat, diam nibh luctus justo, vel varius orci mauris vitae arcu. 
            Donec auctor purus leo, a rutrum lacus consectetur eget. Phasellus ullamcorper nisl ante. 
            Quisque auctor eleifend semper. Nunc lectus mi, vulputate non elementum vel, imperdiet eget dolor. 
            Nam nunc turpis, finibus a turpis ac, lacinia pulvinar velit.

            Cras arcu nibh, elementum sed purus eget, cursus pharetra neque. 
            Praesent fringilla hendrerit lacus, in accumsan felis gravida vitae. 
            Ut commodo velit lorem, ac sodales leo accumsan vel. Praesent rhoncus tortor nec metus lobortis, 
            hendrerit lobortis leo malesuada. Nam id tellus vel ante pellentesque dapibus. Etiam quis sagittis urna. 
            Ut a nunc id urna dignissim consequat. Maecenas semper metus dui, et scelerisque tortor elementum non. 
            Cras euismod sit amet mauris non malesuada. Nam libero nibh, malesuada quis sapien a, condimentum tincidunt 
            ante. Vestibulum porta eu nunc eget porta. Nulla pharetra, risus ut aliquam aliquam, urna tellus vehicula tortor, 
            eget commodo turpis magna vitae ex. In ex arcu, iaculis nec nulla a, iaculis eleifend erat. Praesent ligula sem, 
            facilisis eu rhoncus ac, dictum a velit. Phasellus ac est sit amet mauris dignissim auctor et eu mi.


        </div>


    </div>


</div>