

/*often used*/

.ss_input_singin_img {
    display: none;
}

body {
    background: #FAFAFA;
}


/*main nav*/

.ss_main {

    height: 100vh;

}

.ss_left_side {
    z-index: 999;
    position: fixed;
    width: 15%;
    transition: 1s;
    height: 100%;
 
}

.trumbowyg-box {
    z-index: 1;
}

.ss_admin_nav {
   
    display: inline-block;
    background: #21292F;
    position: relative;
    width: 100%;
    height: 100%;
}

.ss_right_side {
    
    overflow-y: auto !important;
    margin-left: 4% !important;

}

.ss_admin_container {

    position: relative;
    /* width: 80%; */
    height: 100vh;

}

 .switch_nav {
    width: 50px;
    transition: 2s;
}

.ss_label {
    opacity: 1;
    transition: 2s;
}

.label_switch {
    opacity: 0;
    transition: 1s;
    
}

.clicked_list {
    color: #fff !important;
    transition: none;
}

.ss_arrow {
    color: #fff !important;
    transition: 1s;
}

.arrow_rotate {
    transform: rotate(180deg);
    margin-left: 5px;
    margin-bottom: 5px;
    transition: 2s;
}

.ss_btn_nav {
    position: absolute;
    left: 92%;
    top: 35px;
    border-radius: 50%;
    border: none;
    height: 30px;
    width: 30px;
    background: #008cff;
    color: #fff;
   
}

.btn_moment {
    transform: translateX(-13px);
    transition: 1s;
}


.ss_ul {
    height: 100%;
}

.ss_ul li {
    
    min-width: 200px;
}

.ss_ul li:hover label {
    color: #fff;
}

.ss_ul li:hover i {
    color: #fff;
}

.ss_ul li:first-child:hover {
    background: none;
    
}

.ss_admin_nav i, label, li {
    color: #B0A9A9;
    text-decoration: none;
    list-style-type: none;
}

.ss_dashboard {
    margin-bottom: 30px;
}

.ss_category {
    margin-bottom: 40px;
}

.ss_media {
    margin-bottom: 40px;
}

.ss_settings {
    margin-bottom: 100px;
}
/* 
.ss_main_display {
    padding: 0px 20px;
} */

.ss_welcome_name {
    font-size: 60px;
    margin-top: 20px;
    font-weight: 300;
}

.ss_line {
    width: 100%;
    border-bottom: 1px solid black;
}

.ss_author_info label{
    color: #000;
    font-weight: 300;
}

.ss_top_info h2 {
    font-weight: 300;
}

.ss_input_group_search span{
    background: #fff ;
    border-right: none;
    padding: 10px 12px;
}

.ss_input_group_search input {
    border-left: none;
    font-size: 19px;
    padding-left: 0px;
}

.ss_input_group_search input:focus {
    border-color: #ced4da;
    box-shadow: none;
}

.ss_input_group_search i {
    font-size: 15px;
    opacity: 0.7;
}

.ss_input_group_search label {
    background: #fff;
}

/* .trumbowyg-button-pane {
    position: absolute !important;
}

.trumbowyg-box {
    position: absolute !important;
}

/* .trumbowyg-button-group  button {
    position: absolute !important;
} */ 

.ss_input_group_list  {
    position: static !important;
}


.ss_input_group_list input {
    pointer-events: none;
    border-right: none;
    position: static !important;
    
}

.ss_input_group_list input:focus {
    border-color: #ced4da;
    box-shadow: none;
}
.ss_num {
    border: 1px solid #ced4da;
    background: #fff;
    border-left: none;
    border-right: none;
}

.ss_num:hover {
    border: 1px solid #ced4da;
    background: #fff;
    border-left: none;
    border-right: none;
    color: #6c757d;
}

.ss_num:focus {
    box-shadow: none !important;
}

.ss_drop_down {
    border: 1px solid #ced4da;
    border-left: none;
    background: #fff;
}

/*List selector*/

/* .ss_select_filter {

}

.ss_list_select li {
    display: inline-block;
    
}

.ss_list_select {

    border: 1px solid black;

}

.ss_input_search_holder {

    width: 60%;

} */

/*-------------*/

.ss_drop_down:hover {
    background: #008cff;
}

.ss_drop_down:focus {
    color: #fff;
    box-shadow: none !important;
    border-color: #ced4da !important;
    background: #008cff  !important;
}

.ss_drop_down:active {
    box-shadow: none !important;
    border-color: #ced4da !important;
    background: #008cff !important ;
}

.ss_btn_popup {
    background: #008cff;
}

.ss_btn_popup:focus {
    box-shadow: none;
}

.ss_confrme_delete {
    background: #bb0303 !important;
    border: none;
}

.ss_input:focus {
    box-shadow: none;
    border-color: #ced4da;
}

/*All content*/

.ss_navbar_search_con {
    padding: 0;
    position: static !important;
}

.ss_navbar_search {
    min-width: 100% !important;
}


.ss_bg_con {
    background: #FAFAFA;
}


.ss_nav_all_content {
    /* border: 1px solid #C0C0C0;
    border-radius: 30px;
    padding-left: 40px;
    padding-right: 40px;
    background: #fff; */
    height: auto;
    float: right;
    
}

.ss_nav_all_content li {
    display: inline-block !important;
    color: black;
    margin-left: 7px;
}

.ss_info_content_holder {
    width: 100%;
}



.ss_nav_a {
    color: black !important;
    padding: 6px 5px 8px 5px;
}

.nav-item:first-child a {
    border-bottom: 2px solid black;
}

.ss_nav_a:hover {
    cursor: pointer;
    color: #008cff;
}  

.ss_search_content {
    border-radius: 30px;
    margin-left: auto;
}


.ss_input_navbar_input {
    border: 1px solid #ced4da;
    border-radius: 30px;
    background: #fff;
    padding: 0px 20px;
    
    
}

.ss_input_navbar_input input{
    padding-left: 0px;
    border: none;
}

.ss_input_navbar_input i {
    background: #fff !important;
    height: 20px;
    /* padding: 10px 10px 10px 10px; */
    border: none;
    
}

.ss_button_nav_all_category {
    background: #fff;
    border: none;
    padding: 0px;
    height: 100%;
    
}
.ss_button_nav_all_category i {
    margin-bottom: 10px;
    padding-top: 8px;
}

.ss_button_nav_all_category:focus {
   box-shadow: none;

}

.ss_img_holder {
    width: 100%;
    height: 100%;
}

.ss_img_holder img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ss_img_author_holder {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.ss_img_author_holder img {
    
    height: 100%;
    object-fit: cover;
    border-radius: 60%;
}


.ss_col_img {
    height: auto;
    border-right: none;
    height: 80px;
}

.ss_contents_holder {
    display: flex;
    align-items: center;
    border: 1px solid #C0C0C0;
    background-color: #fff;
    margin: 16px 0px !important;
}

.ss_header_content {
    max-height: 90%;
    
    
}

.ss_list_stack_list  {

    list-style-type: none;
    padding: 0px;
    margin: 0px;
    max-height: 0px;
    opacity: 0;
    overflow: hidden;
    transition: opacity 300ms ease;   

} 

.ss_show_lists {

    max-height: inherit;
    opacity: 1;
    margin-left: 10%;
}

.ss_header_content h2 {
    font-weight: 400;
    font-size: 27px;
}

.ss_header_content  div {
    margin-left: 10%;
}

.ss_header_content i{
    font-size: 30px;
    margin: 10px 10px 0px 0px 
}

/*all users*/

/* .ss_list_users {
    color: black;
} */

.ss_input_file {
    display: none;
}

.ss_list_all {
    margin-top: 10px;
}

.ss_list_all li{
    display: inline-block !important;
    margin-left: 20px;
    color: black;
    opacity: 0.8;
/*privremeno -------------------------------*/
    display: none;
}

.ss_list_all li:hover {
    cursor: pointer;
    border-bottom: 1px solid black;
}

.ss_button_drop_down {
    display: none;
}

.ss_card {
    border-radius: 10px;
    border: 1px solid #E0DEDE;
    margin-top: 40px ;
    padding: 0px 5px 10px 10px;
    box-shadow: 10px 10px 5px #E0DEDE;
}

.ss_row_users {
    padding: 0px 5%;
}

.ss_card span {
    float: right;
    
}

.ss_card h2 {
    font-weight: 300;

}

.ss_card button {
     width: 80px;
     border: 1px solid #E0DEDE;
     background: #21292F;
     color: #fff;
     border-radius: 10px;
     padding: 5px;
}

.ss_inputs_modal {
    width: 60%;
    margin-right: 10% !important;
}

.ss_inputs_modal input {
    margin-bottom: 20px;
}

.ss_modal_content_edit_users {
    max-width: 600px;
}

.ss_roles_modal label {
    color: black;
    opacity: 0.8;
}

.ss_password_info {
    width: 60%;
    margin-bottom: 20px;
}

.ss_password_info button {
    background: #fff;
    border: 1px solid #C0C0C0;
    border-radius: 10px;
    opacity: 0.7;
    margin-left: 20px;

}

.ss_social_edit_user {
    width: 70%;
}

.ss_social_edit_user div {
    margin-bottom: 20px;
}

.ss_social_edit_user i {
  font-size: 40px;
}

.ss_social_edit_user input {
    margin-left: 20px;

}

.ss_modal_footer button {
    width: 80px;
    border: none;
    background: #008cff;
}

.ss_button:focus {
    box-shadow: none;
}


.ss_modal_footer button:last-child {
    background: #bb0303;
    margin-left: auto;

}

/*new users*/

.ss_card_edit_user {

    margin: 20px auto;
    border: 1px solid #C0C0C0;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 5px #E0DEDE;  
    background: #fff;
}

.ss_card_edit_user h2 {
    font-weight: 300;
}

.ss_inputs_new_user {
    width: 60%;
    margin-right: 40px;
}

.ss_inputs_new_user input {
    display: block;
    margin: 10px 0px;
    border-radius: 10px;
    border: 1px solid #C0C0C0;
    width: 100%;
}

.ss_buttons_new_user button{
    border: 1px solid #C0C0C0;
    border-radius: 10px;
    background: #fff;
    color: #5c5c5c;
    margin-right: 20px;
    width: 100px;
}

/*Media*/

.ss_content_holder {
    width: 100%;
    height: 180px;
    background: #C4C4C4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.ss_icon_holder i {
    font-size: 30px;
}

/*user view*/

.ss_img_view {
    height: 200px;
}

.ss_user_info_view i {
    font-size: 35px;
    margin-right: 10px;
}

.ss_user_info_view div {
    margin-bottom: 10px;
}

.ss_user_info_view {
    opacity: 0.8;
}

/*settings*/

.ss_img_settings {
    height: 150px;
}

.ss_container_settings {
    border: 1px solid #C0C0C0;
    background: #fff;
    margin: 10px 40px;
    padding: 10px;
}

.ss_settings_main_inputs label{
    display: block;
}

.ss_settings_main_inputs div {
    margin-bottom: 10px;
}

.ss_settings_main_inputs input{
    width: 50%;
    border: 1px solid #C0C0C0;
    border-radius: 10px;
}

.ss_content_page_settings {
    width: 50%;
}

.ss_content_page_settings div:last-child {
    margin-left: auto;
}

.ss_content_page_settings label{
    display: block;
}

.ss_content_page_settings input {
    border: 1px solid #C0C0C0;
    border-radius: 10px;
    width: 150px;
}

.ss_settings_save_button {
    width: 170px;
    background: #fff;
    border-radius: 10px;
    border: 1px solid #C0C0C0;
    padding: 5px;
    margin-top: 80px;
}

/*add content*/

/* .ss_left_side_holder {
    display: inline-block;
    width: 60%;
}*/

.ss_right_block_holder {
    padding-right: 12px;
} 

.ss_input_category_name {
    width: 100%;
    border: 1px solid #C0C0C0;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 5px 0px;
}

.ss_link button {
    border: 1px solid #C0C0C0;
    background: #fff;
    height: fit-content;
    padding: 0px 5px;
    margin-left: 10px;
}

.ss_txt_area {
    width: 100%;
}

.ss_txt_area textarea {
    width: 100%;
}

.ss_right_block {
    border:1px solid #C0C0C0;
    padding: 10px 5px;
    background: #fff;
    height: 100%;
}

.ss_inputs_block p {
    margin-bottom: 1px ;
}

/*tags*/

.tag_category {
    border: 1px solid #c0c0c0;
    width: fit-content;
    padding: 5px;
    border-radius: 10px;
    display: inline-block;
    margin-right: 5px;
}


.ss_inputs_block div {
    margin-top: 10px;
}

.ss_inputs_block input {
    padding: 5px 0px;
    border-radius: 10px;
}

.ss_inputs_block button {
    padding: 5px 10px;
    border-radius: 10px;
    background: #fff;
    border-left: none;
    border-color: #C0C0C0;
    height: 100%;
}

.ss_inputs_block button:active {
    box-shadow: none;
    background: #fff;
}

.ss_inputs_block button:focus {
    box-shadow: none !important;
  
}


.ss_inputs_block button:hover {
    background: #008cff;
  
}


.ss_btn_right_block {
    display: none;
}

.ss_button_post {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.ss_button_post button {
    background-color: #fff;
    border: 1px solid #C0C0C0;
    width: 100px;
}


@media (max-width: 1200px) {

    .ss_btn_nav {
        left: 90%;
       
    }

    /*setting*/

    .ss_content_page_settings {
        display: block !important;

    }

    .ss_content_page_settings  div{
        margin-bottom: 20px;
        
    }


}

@media (max-width:992px) {

    /* .trumbowyg-button-pane {
        position: relative !important;
    }
    
    .trumbowyg-box {
        position: relative !important;
    }
    
    .trumbowyg-button-group  button {
        position: relative !important;
    } */

    .ss_nav_all_content {
        float: none;
        
    }

    .ss_nav_all_content {
        padding-left: 0px !important;
        margin-top: 10px;
    }

    /* .ss_main {
        display: grid !important;
        grid-template-columns: 10% 90%; 
    } */

    .ss_left_side { 
        width: 50px;
        transition: 2s;
        z-index: 1054;
        
      }
      
    .switch_nav {
        width: 130px;
        transition: 1s;
    }

    .ss_label {
        opacity: 0;
        transition: 1s;
        
    }
    
    .label_switch {
        opacity: 1;
        transition: 2s;
    
    }

    .ss_btn_nav {
        left: 35px;
        transition: 2s;
    }

    .btn_moment {
        transform: translateX(80px);
        transition: 1s;

    }

    .ss_ul li {
    
        min-width: 120px;
    }

    /*all content*/

    .ss_input_navbar_input {
        position: relative;
    }

    /* .ss_input_search {
        position: absolute;
        display: inline-block;
        left: 80%;
        height: 100%;
        transition: 1s;
        
    } */

    .ss_button_nav_all_category  {
        position: absolute;
    }

    .ss_input_navbar_input  label {
        position: absolute;
        left: 80%;
    }

    .ss_input_streach {
        width: 80% !important;
        left: 0%;
        transition: 1s;
    }

    /* .ss_search_content {
        display: none;
    } */

    .ss_header_content {
        min-height: 50%;
    }

    /*settings*/

    .ss_settings_main_inputs input{
        width: 80%;
    }

    /*add content*/

    /* .trumbowyg-button-pane {
        z-index: 0 !important;
    } */
/*     
    .ss_left_block_holder {
        position: static;
    } */

    .ss_right_block_holder {
        position: relative;
        
    }

    .ss_right_block {
        display: none;
        
    }

    
    .ss_show_block {
        display: block !important;
      
        
    } 

    .ss_btn_right_block {
        display: block;
        width: fit-content;
        border: none;
        background: #fff;
        margin: 5px 5px 0px 0px;
        padding: 0px 0px;
        float: right;
      
    }

    .ss_link  p {
        word-break: break-word;
    }

    .ss_input_category_name {
        padding: 1px 0px;
    }

}

@media (max-width: 768px) {
    .ss_list_all_users {
        padding-left: 0px ;
    }

    .ss_list_all_users li:first-child {
        margin-left: 2px;
    }

    /*all users*/

    .ss_modal_content_edit_users {
        max-width: 500px;
    }

    /*view user*/

    .ss_img_view {
        height: 250px;
    }

    /*add content*/

    /* .ss_btn_right_block {
        width: 80%;
      
    } */
}
@media (max-width:576px) {

    
    .ss_input_navbar_input  {
        height: 33px;
    }

    .ss_header_content  h2 {
        font-size: 25px;
        margin-top: 5px;
    }
    .ss_header_content  i {
        font-size: 25px;
    }

    .ss_button_drop_down {
        display: block;
    }
    .ss_list_all_users {
        max-width: 0px;
        
    }

    .drop_down_list {
        
        max-width: auto;
        transition: 1s;
    }

    .ss_card button {
        padding: 0px;
   }

   /*all users*/

   .ss_social_edit_user {
    width: 100%;
    }

    .ss_main_info_user {
        display: block !important;
        margin-bottom: 20px;
    }
    .ss_modal_content_edit_users {
        max-width: 400px;
        
    }

    .ss_password_div {
        display: block !important;
    }

    .ss_password_div button {
        margin:10px 0px 0px 0px;
    }

    .ss_password_info {
        width: 100%;
    }

    .ss_modal_footer button:last-child {
        margin-left: 4px;
    }

    /*new user*/

    .ss_main_info_new_user {
        display: block !important;
    }

    .ss_inputs_new_user {
        width: 80%;
    }

    .ss_radio_new_users {
        margin-bottom: 20px;
    }

    /*add content*/

    .ss_link button {
        margin: 0px 0px 20px 0px;
    }
     
}

@media (max-width:400px) { 

    /* .ss_right_side {
        padding: 0px 30px;
    } */

    .ss_author_name {
        display: none;
    }

    .ss_input_group_search input {
        height: 30px;
    }

    .ss_input_group_list input, button {
        height: 30px;
        padding-bottom: 10px;
    }

    .ss_num {
        padding: 0px 12px;
    }

    .ss_drop_down {
        padding: 0px 9px;
    }

    .ss_header_content  h2 {
        font-size: 15px;
        margin-top: 5px;
    }

    /*view user*/

    .ss_social_container_view {
        display: block !important;
    }

    .ss_img_view {
        height: 200px;
    }

    /*settings*/

    .ss_container_settings {
        margin: 10px 0px; 
        
    }

    .ss_settings_main_inputs input {
        width: 100%;
    }

    /*add content*/

    

}

@media (max-width:400px) {

    .ss_nav_all_content li {
        display: block !important;
        
    }

}