.ss_img_content_holder {
    height: 160px;
    width: 300px;
}

.ss_img_content_holder img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.line {
    border-top: black solid 1px;
    width: 100%;
}

.ss_side_img_holder {
    width: 100%;
    height: 150px;
}

.ss_side_img_holder img {
    object-fit: cover;
    height: 100%;
    width: 100%;
} 

.ss_img_author_holder img:hover {
    cursor: pointer;
}

.ss_img_content_holder img:hover {
    cursor: pointer;
}

.ss_content_header {
    display: block;
    height: 80%;
    width: 100%;
    font-weight: 400;
}

.ss_content_header p {
    font-weight: 300;
}

.ss_info_content_holder {
    width: 60%;
    height: 150px;
}

.ss_info_content_holder h3:hover {
    color: #008cff;
    cursor: pointer;
}

.ss_page_link {
    background: #21292F;
    color: #fff;
    border-radius: 10%;
}

.ss_page_link:focus {
    background: #008cff;
    box-shadow: none;
    color: #fff;
}

.ss_page_link:hover {
    background: #008cff;
    color: #fff;
}

.ss_side_content_holder p {
    font-weight: 400;
    font-size: 1.2em;
}

.ss_side_content_holder p:hover, img:hover{
    cursor: pointer;
}

.ss_author_choice_header {
    font-weight: 400;
    font-size: 25px;
}