.ss_img_content_holder {
    height: 160px;
    width: 300px;
}

.ss_img_content_holder img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.line {
    border: black solid 1px;
    width: 100%;
}

.ss_side_img_holder {
    width: 100%;
    height: 200px;
}

.ss_side_img_holder img {
    object-fit: cover;
    height: 100%;
    width: 100%;
} 

.ss_content_header {
    display: block;
    height: 80%;
    width: 100%;
}

.ss_info_content_holder {
    width: 60%;
    height: 150px;
}

.ss_page_link {
    background: #21292F;
    color: #fff;
    border-radius: 10%;
}

.ss_page_link:hover {
    color: #fff ;
    background: #21292F;
}