.ss_top_info {
    height: 80vh;
}

.ss {
    height: fit-content;
}

.ss_img_main_holder {
    width: 100%;
    height: 70vh;
}

.ss_img_main_holder img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.ss_content_text {
    padding-right: 10%;
}