.ss_footer_bg {
    margin-top: 30px;
    background: #21292F;
    height: 300px;

}

.ss_footer_info {
    padding: 2% 0% 0% 8%;
    color: #fff;
    height: 100%;
    width: 80%;

}

.ss_footer_info h3 {
    margin: 0px 0px 20px 40px;
}
.ss_info {
    border-left: #fff solid 1px;
    height: 80%;
    width: 80%;
    padding: 10px 0px 0px 40px;
}

.ss_info p {
    font-size: 17px;
    
}

.ss_info p:hover {
    color: #008cff;
    cursor: pointer;
}

.ss_info i:hover {
    cursor: pointer;
}

.ss_info i {
    font-size: 30px;
}

.ss_social {
    margin-bottom: 15px;
}

.ss_col_holder {
    position: relative;
}

@media (max-width: 992px) {

    .ss_footer_bg {
        height: 50vh;
    }

    .ss_contact_icon {
        width: 40%;
        height: 60%;
        position: absolute;
        top: 40%;
        left: 60%;
    }

    .ss_contact_icon i {
        font-size: 100px;
        opacity: 0.3;
    }
    
}

@media (max-width: 768px) {

    .ss_footer_bg {
        height: 800px;
        
    }
}
