
body {
    font-family: 'Roboto', sans-serif;
}


/*Navigation*/

.ss_nav_background {
    position: relative;
}

.ss_block_others {
    display: none;
    background-color: #093d5e;
    opacity: 0.8;
    min-width: 100%;
    min-height: 0px;
    position: absolute;
    top: 100%;
    z-index: 999;
}

.ss_block_other_holder {
    width: 100%;
    height: 100%;
}

.ss_show_other {
    display: block;
    min-height: 200px;
}

.block_catg li {
    color: #fff;
    list-style: none;
    margin-bottom: 10px;
}

.block_catg li:hover {
    cursor: pointer;
    color: #ff5100;
}


/* .ss_navbar {
    background: red;
} */

/*Main content*/

.ss_main_content_size {

    padding: 0px;
    width: 100%;
    height: 300px;
    background-color: gray;
   
}

.ss_main_content_size:hover {
    cursor: pointer;
}

.ss_carousel_full {
    display: none;
}

.ss_main_content {

    padding: 0px;
    height: 100%;
    position: relative;

}

.ss_main_content_side {

    padding: 0px;
    height: 50%;
    width: 100%;
    position: relative;
}

.ss_carousel {

    height: 300px;

}

/*-------------------------------------------*/

.ss_nav_width {
    width: 100%;
}

.ss_nav_background {
    background: #21292F;
    height: 40px;
}

.ss_nav_background a, i {
    color: #fff;
}

.ss_nav_background a:hover, i:hover, i:focus, a:focus {
    color: #fff !important;
}

.ss_nav_background button {
    color: #fff !important;
}

.ss_list {
    padding: 0px 10px;
}

.ss_list:hover {
    background: #008cff;
    cursor: pointer;
}

.ss_container {
    padding: 0% 10%;
}

.ss_main_articles {
    border: 1px solid blue;
    color: #fff;
    margin-top: 50px;
    margin: 5% 0%;
}

.ss_main_articles h1:hover, p:hover, h2:hover, img:hover {
    cursor: pointer;
}

.ss_main_articles_size {
    max-height: 420px;
    padding: 0;
}

.ss_main_articles_size:hover {
    cursor: pointer;
}

.ss_main_article {
    position: relative;
    width: 100%;
    height: 100%;
}
.ss_img_holder {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.ss_img_holder img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: 0.5s all ease-in-out;
}

.ss_main_content:hover .ss_img_holder img {
    transform: scale(1.5);
}

.ss_main_content_side:hover .ss_img_holder img {
    transform: scale(1.5);
}

.ss_main_right_content {
    position: relative;
    width: 100%;
    height: 50%;
}

.ss_content_size {
    margin: 5% 0%;
}

.ss_content_text img {

    width: 100%;

}

.ss_dark_filter {
    position: absolute;
    background: black;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0.5;
}


.ss_header_holder {
    width: 100%;
    height: 100%;
}

.ss_header_holder:hover {
    color: #008cff;
}

.ss_carousel {
    position: relative;
    width: 100%;
    height: 400px;
}

.ss_carousel_info {
    position: absolute;
    top: 10px;
    left: 10px;
}

.ss_carousel_info h1{
    display: block;
    width: 100%;
    height: 20%;
}

.ss_carousel img {
    height: 100%;
}

.ss_article_info_main {
    position: absolute;
    top: 35%;
    left: 10px;
    width: 95%;
    height: 55%;
}

.ss_article_info_main_side {
    position: absolute;
    top: 25%;
    left: 10px;
    width: 95%;
    height: 55%;
}

.ss_article_info_main_side p, h1 {
    color: #fff;
}

.ss_paragraphs {
    color: #fff;
}

.ss_main_header_side {
    font-size: 23px !important;
}

.ss_article_info_right {
    position: absolute;
    top: 25%;
    left: 10px;
    width: 95%;
    height: 55%;
}

.ss_img_author_holder {
    position: relative;
    width: 26px;
    height: 26px;
}

.ss_img_author_holder img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 60%;
    
}


.ss_main_header {
    font-weight: 400;
    font-size: 2em;
}

.ss_main_header:hover {
    color: #008cff;
    cursor: pointer;
}

.ss_paragraphs {
    margin: 0px 0px 0px 15px;
    opacity: 0.7;
    font-weight: 300;
}

.ss_side_padding {
    font-size: large;
}


/*all content*/

#content_img_holder {

    height: 160px;

}

.ss_img_content_holder {
    height: 100%;
    width: 100%;
}

.ss_img_content_holder img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.line {
    border-top: black solid 1px;
    width: 100%;
}

.ss_side_img_holder {
    width: 100%;
    height: 150px;
}

.ss_side_img_holder img {
    object-fit: cover;
    height: 100%;
    width: 100%;
} 

.ss_img_author_holder img:hover {
    cursor: pointer;
}

.ss_img_content_holder img:hover {
    cursor: pointer;
}

.ss_content_header {
    display: block;
    /* height: 80%; */
    width: 100%;
    font-weight: 400;
}

.ss_content_header p {
    font-weight: 300;
}

.ss_content_header:hover {
    color: #008cff;
    cursor: pointer;
}


.ss_author_info_all_content {
    font-weight: 100;   
}

.ss_info_content_holder {
    width: 60%;
    height: 150px;
}

.ss_info_content_holder h3:hover {
    color: #008cff;
    cursor: pointer;
}

.ss_page_link {
    background: #21292F;
    color: #fff;
    border-radius: 10%;
}

.ss_page_link:focus {
    background: #008cff;
    box-shadow: none;
    color: #fff;
}

.ss_selected {
    background-color: #008cff;
}

.ss_page_link:hover {
    background: #008cff;
    color: #fff;
}

.ss_side_content_holder p {
    font-weight: 400;
    font-size: 1.2em;
}

.ss_side_content_holder p:hover, img:hover{
    cursor: pointer;
}

.ss_author_choice_header {
    font-weight: 400;
    font-size: 25px;
}

.ss_author {
    width: 100%;
    
}

.ss_img_staff_holder {
    width: 20%;
    height: 200px;
    margin-right: 20px;
    
}

.ss_img_staff_holder img {
    width: 100%;
    height: 100%;
    object-fit: cover;

} 




@media (max-width: 1200px) {
    .ss_side_padding {
        font-size:calc(1.275rem + .3vw)!important;
        font-weight: 400;
        
    }

    .ss_side_img_holder {
        width: 100%;
        height: 200px;
    }

    .ss_navbar  {
        background: #21292F;
        z-index: 100;
    }

    .ss_nav_background {
        height: 50px;
    }

}

@media (max-width: 992px) {

    .ss_img_staff_holder {
        width: 25%;
        height: 200px;
        
    }

}

@media (max-width: 768px) {

    /*main content*/
    .ss_main_content_size {
        display: none;
    }

    .ss_carousel_full {
        display: block;
    }

    /**/

    .ss_container {
        padding: 0% 5%;
    }

    .ss_content_header  {
        height: 70px;
        /* margin-bottom: 20px */
    }

    .ss_img_staff_holder {
        width: 100%;
        height: 300px;
        float: none;
        display: block;
        
    }

}

@media (max-width: 576px) {

    .ss_carousel {
        height: 300px;
    }

    /* .ss_img_staff_holder {
        width: 100%;
        height: 350px;
        float: none;
        display: block;
        
    } */


    

}


@media (max-width: 430px) {

    .ss_carousel {
        height: 250px;
    }
    

}

@media (max-width: 420px) {


    /*paggination*/
    .ss_page_link {

        padding: 10px 20px !important;

    }
    /**/
    

}

@media (max-width: 330px) {

    /*pagination*/

    .ss_page_link {

        padding: 5px 10px !important;

    }

    /**/

    .ss_carousel {
        height: 200px;
    }
    

}