
body {
    background: #FAFAFA;
}

input {

    border: 1px solid #C0C0C0;
    border-radius: 10px;
    padding: 5px;

}

.line {
    width: 100%;
    border-bottom: 1px solid #C0C0C0;
    margin-bottom: 20px;
}

.ss_img_holder {
    width: 100%;
    height: 250px;
}

.ss_img_holder img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ss_user_main_info input {
    margin-top: 20px;
    width: 100%;
}

.ss_social_user {
    display: flex;
    align-items: center;
    
}

.ss_social_user input{
    width: 50%;
    margin-left: 20px;
}

.ss_social_user label{
    font-size: 30px;
}

.ss_password {
    display: flex;
    margin-top: 25px;
    width: 55%;
}


.ss_password div:last-child {
    margin-left: auto;
}

.ss_text_area {
    width: 100%;
    height: 400px;
    margin-top: 50px;
}

.ss_input_singin_img {
    display: none;
}

@media (max-width:1200px) {

    .ss_password {
        display: block;
        margin-left: 50px;
        
    }

    .ss_input_password {
        width: 90%;
        
    }

}

@media (max-width: 992px) {
    .ss_social_user input{
        width: 100%;
    }

    .ss_password {
        width: 100%;
    }

    .ss_input_password {
        width: 90%;
        
    }
}

@media (max-width: 768px) {
    .ss_password {
        margin-left: 0px;
    }

    .ss_input_password {
        width: 100%;
    }
}

@media (max-width: 576px) {
    
    .ss_social_user:first-child {
        margin-top: 20px;
    }
}